* {
  list-style-type: none;
}

.neck-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 5px;
  @media screen and (max-width: 1000px) {
    width: 100vw - 10;
  }
}

.neck {
  position: relative;
  margin-top: 50px;
  height: 263px;
  width: 930px;
  background-color: lightgray;
  box-shadow: inset -1px 0px 11px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.tuning {
  position: absolute;
  width: 75px;
  border-radius: 5px;
  background-color: black;
  z-index: 15;
}

.tuning li {
  position: relative;
  left: -40%;
  margin: 17px;
  color: #fff;

  @media screen and (max-width: 1000px) {
    left: 0;
  }
}

.strings {
  position: absolute;
  left: -32px;
  top: 0px;
}

.strings li {
  margin-top: 26px ;
  margin-bottom: 6px;
  display: inline-block;
  width: 930px;
  height: 3px;
  background-color: dodgerblue;
  box-shadow: 0px 2px 2px -1px darkgrey;
}

.notes {
  right: 13px;
  position: absolute;
  top: 15px;
  width: 100%;
  overflow-x: hidden;
  z-index: 5;
}

.notes li:nth-child(1) {
  opacity: 0%;
}

.notes ul {
  padding-inline-start: 0;
}

.notes li {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 14px;
  display: inline-block;
  background-color: dodgerblue;
  margin-left: 45px;
  border-radius: 50%;
  line-height: 20px;
  width: 26px;
  border: 2px solid lightgray;
  transition: opacity .2s;
}

.frets {
  position: absolute;
  left: 45px;
  width: fit-content;
}

.frets li {
  display: inline-block;
  margin-right: 67px;
  background-color: dimgrey;
  width: 4px;
  height: 263px;
}

.dots {
  position: absolute;
  left: 218px;
  width: fit-content;
  top: 46%;
  z-index: 1;
}

.dots li {
  display: inline-block;
  margin-right: 127px;
  height: 15px;
  width: 15px;
  background-color: darkgrey;
  border-radius: 50%;
}

.twelve {
  position: absolute;
  display: inline-block;
  left: 639px;
  margin-top: -39px;
}

.last {
  margin-bottom: 60px;
  margin-right: 0 !important;
}

.neck-icons-container {
  @media screen and (max-width: 1000px) {
    margin-top: 25px;
    margin-left: 25px;
  }
}

.neck-icon {
  font-size: 1.5rem;
  padding-left: 5px;
  padding-right: 10px;

  @media screen and (max-width: 1000px) {
    font-size: 2rem;
  }
}

.neck-icon:hover {
  color: #1E90FF;
}

.controls {
  position: absolute;
  left: 50%;
  margin-left: -475px;
  height: 263px;

  @media screen and (max-width: 1000px) {
    left: 20vw;
    margin-left: 0;
  }
}

.collapseable-element-container {
  text-align: center;
  margin-top: 25px;

  @media screen and (max-width: 1000px) {
    margin-left: 1vw;
  }
}

.keyboard {
  margin-top: 25px;
}
