<div class="neck">
  <ul class="strings">
    <li *ngFor="let string of strings"></li>
  </ul>

  <ul class="tuning">
    <li *ngFor="let tuning of tuning" class="{{tuning}}">{{tuning}}</li>
  </ul>

  <div class="notes">
    <div *ngFor="let string of strings" [ngClass]="{string}">
      <ul>
        <li *ngFor="let note of string" appNote [note]="note" [type]="'note'" class="{{note}}" (click)="toggleNote(note)">{{note}}</li>
      </ul>
    </div>
  </div>

  <ul class="frets">
    <li *ngFor="let f of [].constructor(12)"></li>
  </ul>

  <ul class="dots">
    <li class="first" *ngFor="let d of [].constructor(4)"></li>
    <ul class="twelve">
      <li class="last" *ngFor="let d of [].constructor(2)"></li>
    </ul>
  </ul>
</div>
<i class="bi-question-circle neck-icon"
   type="button"
   (click)="help.toggle()"
   aria-controls="collapseExample"
   placement="bottom"
   ngbTooltip="Help"></i>
<i class="bi-gear-wide-connected neck-icon"
   type="button"
   (click)="settings.toggle(); defaultSettings()"
   aria-controls="collapseExample"
   placement="bottom"
   ngbTooltip="Instrument Settings"></i>
<i class="bi-file-music neck-icon"
   type="button"
   (click)="keyboard.toggle(); toggleKeyboard()"
   aria-controls="collapseExample"
   placement="bottom"
   ngbTooltip="Show/Hide Keyboard"></i>
<div class="collapseable-element-container">
  <div class="keyboard" #settings="ngbCollapse" [(ngbCollapse)]="isSettingsCollapsed">
    <app-instrument-settings [mode]="mode" [(tuning)]="tuning" (doUpdate)="child.onSubmit()"></app-instrument-settings>
  </div>
</div>
<div class="collapseable-element-container">
  <div class="keyboard" #keyboard="ngbCollapse" [(ngbCollapse)]="isKeyboardCollapsed">
    <app-keyboard [mode]="mode"></app-keyboard>
  </div>
</div>
<div class="collapseable-element-container">
  <div class="keyboard" #help="ngbCollapse" [(ngbCollapse)]="isHelpCollapsed">
    <app-neck-help [mode]="mode"></app-neck-help>
  </div>
</div>
<div class="controls">
  <app-neck-controls [(key)]="key" [(quality)]="quality" (resetNotes)="updateStrings()" [mode]="mode"></app-neck-controls>
</div>

