<div class="neck">
  <ul class="strings">
    <li *ngFor="let string of strings"></li>
  </ul>

  <ul class="tuning">
    <li *ngFor="let tuning of tuning" class="{{tuning}}">{{tuning}}</li>
  </ul>

  <div class="notes">
    <div *ngFor="let string of strings" [ngClass]="{string}">
      <ul>
        <li *ngFor="let note of string" appNote [note]="note" class="{{note}}" (click)="toggleNote(note)">{{note}}</li>
      </ul>
    </div>
  </div>

  <ul class="frets">
    <li *ngFor="let f of [].constructor(12)"></li>
  </ul>

  <ul class="dots">
    <li class="first" *ngFor="let d of [].constructor(4)"></li>
  </ul>
</div>
<div class="controls">
  <app-neck-controls [(tune)]="tune" [(key)]="key" [(quality)]="quality" (submitEvent)="updateKey()" [mode]="mode"></app-neck-controls>
</div>

