<div>
  <div class="page-wrapper">
    <div class="page-content">
      <h1>Welcome to Jay Tools!</h1>
      <div class="subtext-container">
        <p class="subtext">This application can be used to explore some basic music theory and hopefully learn something new. The <a href="scales">Scales</a> page will show the notes
          that fall within a given scale. The <a href="chord-decoder">Chord Decoder</a> page takes in a chord and will show all notes that fall within that chord. Each page
          will show a basic explanation of the given quality or chord type.
        </p>
      </div>
    </div>
  </div>
</div>
